@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */
    --background: 220 2% 98%;
    --foreground: 220 3% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 3% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 3% 20%;
    --primary: 185 35% 48%;
    --primary-foreground: 0 0% 99%;
    --secondary: 175 20% 72%;
    --secondary-foreground: 220 3% 20%;
    --muted: 210 5% 87%;
    --muted-foreground: 210 5% 50%;
    --accent: 150 20% 65%;
    --accent-foreground: 0 0% 99%;
    --destructive: 25 83% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 2% 92%;
    --input: 220 1% 97%;
    --ring: 185 35% 48%;
    --chart-1: 185 35% 48%;
    --chart-2: 175 20% 72%;
    --chart-3: 150 20% 65%;
    --chart-4: 25 83% 58%;
    --chart-5: 160 20% 75%;
    --radius: 0.625rem;
    --sidebar: 0 0% 99%;
    --sidebar-foreground: 220 3% 20%;
    --sidebar-primary: 185 35% 48%;
    --sidebar-primary-foreground: 0 0% 99%;
    --sidebar-accent: 175 20% 72%;
    --sidebar-accent-foreground: 220 3% 20%;
    --sidebar-border: 220 2% 92%;
    --sidebar-ring: 185 35% 48%;
  }

  .dark {
    /* Dark Theme */
    --background: 220 3% 15%;
    --foreground: 0 0% 98%;
    --card: 220 3% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 220 3% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 185 20% 65%;
    --primary-foreground: 220 3% 15%;
    --secondary: 175 20% 50%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 5% 35%;
    --muted-foreground: 210 5% 68%;
    --accent: 150 20% 72%;
    --accent-foreground: 220 3% 15%;
    --destructive: 25 83% 58%;
    --destructive-foreground: 25 90% 95%;
    --border: 220 2% 30%;
    --input: 220 1% 25%;
    --ring: 185 35% 65%;
    --chart-1: 185 35% 65%;
    --chart-2: 175 20% 50%;
    --chart-3: 150 20% 72%;
    --chart-4: 25 83% 62%;
    --chart-5: 160 20% 60%;
    --sidebar: 220 3% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 185 35% 65%;
    --sidebar-primary-foreground: 220 3% 15%;
    --sidebar-accent: 175 20% 50%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 2% 30%;
    --sidebar-ring: 185 35% 65%;
  }
}